@import url('https://fonts.googleapis.com/css?family=Calistoga|Noto+Sans+KR&display=swap');

$primary-color: #17259E; 
$secondary-color: #62B6CB;
$grey: #D6D2CF;
$light-grey:#ECE9E6;
$light-color: #ffffff;
$dark-color: #000000;
$default-padding: 15px;
$header-font: 'Calistoga', cursive;
$body-font: 'Noto Sans KR', sans-serif;

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/gplaypattern.png");
    font-family: $body-font;
    height: 100%;
    font-size: 18px;
}

h1, h2, h3, .brand-logo {
    font-family: $header-font;
}

.brand-logo {
    margin-left: $default-padding;
}

nav {
    background-color: $primary-color;
}

button.mycolor {
    background-color: $primary-color;
    font-weight: bold;
    &:hover, &:active, &:focus {
        background-color:lighten($primary-color, 20%);  
    }
}

button.greycolor {
    background-color: $grey;
    color: $dark-color;
    font-weight: bold;
    margin-bottom: $default-padding;
    &:hover, &:active, &:focus {
        background-color:lighten($primary-color, 20%);  
    }
}

/* -------------------------------------------------------------- */
/* Styling the wrapper and to do layout*/
/* -------------------------------------------------------------- */

.weather-panel {
    border: 1px solid $grey;
    border-radius: 2px;
    padding: 5px 25px;
    background-color: $light-color;
}

.place-holder {
    max-width: 15px;
    padding-top: $default-padding;
}

/* -------------------------------------------------------------- */
/* Search Box */
/* -------------------------------------------------------------- */

.search-form input[type=text] {
    float: left;
    width: 60%;
}

.search-box {
    float: left;
    width: 70%;
}

.search-btn {
    float: left;
    width: 30%;
}

.weather-sidenav {
    width: 300px;
}

.city-list {
    clear: left;
    .btn-city {
        display: block;
    }
}